{% extends 'shared/layout.html' %}
{% block content_ %}
<!-- DataTables Example -->
<div class="card mb-3 col-md-12">
  <div class="card-header">  <b> Chamado # {{ task_id }}</b> </div>
  <div class="card-body">
    <form action="{{baseUrl}}/tasks/save/# {{ task_id }}" class="form" id="usuarios-edit-form" method="POST">

      {% for i in task %}
        <!-- Primeiro Nome -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="title" id="title" required="required" placeholder="titulo" value="{{i.title}}">
                <span class="messages"></span>
            </div>
        </div>

        <!-- status -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <select id="status_id" required="required" name="status_id" class="form-control form-control-default">
                    <option value="" disabled >Status</option>
                    {% for s in status %}
                      {% if i.status.id == s.id %}
                        <option value="{{s.id}}" selected>{{s.name}}</option>
                      {% else %}
                        <option value="{{s.id}}" >{{s.name}}</option>
                      {% endif %}
                    {% endfor %}

                </select>
            </div>
        </div>

        <!-- usuario -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <select id="users_id" required="required" name="users_id" class="form-control form-control-default">
                    <option value="" disabled >Usuario</option>
                    {% for u in users %}
                      {% if i.users.id == u.id %}
                        <option value="{{u.id}}" selected>{{u.name}}</option>
                      {% else %}
                        <option value="{{u.id}}" >{{u.name}}</option>
                      {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- description -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <textarea class="form-control" name="description" id="description" required="required" >{{i.description}}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="col-sm-8 text-right">

                <!-- Envia Form -->
                <button type="submit" class="btn btn-danger m-b-0" title="Deletar">
                  Deletar
                </button>

                <!-- Envia Form -->
                <button type="submit" class="btn btn-primary m-b-0"title="Salvar">
                  Salvar
                </button>
            </div>
        </div>
        {% endfor %}
    </form>
  </div>
</div>
{% endblock %}